.orange{
    background-color: orange;
}
.groc{
    background-color: yellow;
}
.verd{
    background-color: green;
}
.blau{
    background-color: blue;
}
.table1 {
    border: 1px solid;
    border: black 1px solid;
    width: 40%;
    text-align: center;
   

}

.table-wrapper0 {
    display: flex; /* Устанавливаем режим flex для body */
    justify-content: center; /* Выравниваем содержимое по центру по горизонтали */
    align-items: center; /* Выравниваем содержимое по центру по вертикали */
  
  }
th {
    border: black 1px solid;
}
